* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00bcd4;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

header{
    width: 100%;
    height: 7rem;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

header ul{
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 1rem;
}

.logo{
    padding: 20px;
}

main{
    width: 100%;
    height: 46rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#formsLocal{
    display: flex;
    flex-direction: column;
    order: 1;
}

form{
    display: flex;
    flex-direction: column;
}

#listLocal{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 50%;
}

.produto{
    background-color: #82b1ff;
    color: black;
    width: 200px;
    height: 90px;
    border: #00bcd4 solid 4px;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 7rem;
    background-color: #424242;
}


#teste{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
}


